default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: dogs_are_family_members_development
  host: localhost
  username: junichi
  password:

test:
  <<: *default
  database: dogs_are_family_members_test

production:
  primary: &primary_production
    <<: *default
    url: <%= ENV["DATABASE_URL"] %>
  
  cache:
    <<: *primary_production
    migrations_paths: db/cache_migrate
    
  queue:
    <<: *primary_production
    migrations_paths: db/queue_migrate
    
  cable:
    <<: *primary_production
    migrations_paths: db/cable_migrate