default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: myapp_development

test:
  <<: *default
  database: myapp_test

production:
  <<: *default
  # ここから下のインデントが非常に重要です
  databases:
    primary:
      url: <%= ENV['DATABASE_URL'] %>
    cache:
      url: <%= ENV['DATABASE_URL'] %>
    queue:
      url: <%= ENV['DATABASE_URL'] %>
    cable:
      url: <%= ENV['DATABASE_URL'] %>